head
  title DnD Character Factory |
    if title
      |  #{title}
    else

  base(href=".")
    
  //- DataTables
  link(rel='stylesheet', href='/bower_components/dataTables.net-bs/css/dataTables.bootstrap.min.css')
  //- iCheck
  link(rel='stylesheet', href='/bower_components/iCheck/skins/minimal/orange.css')
  //- Select2
  link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.min.css')
    
  //- Style (Includes Bootstrap, FontAwesome)
  link(rel='stylesheet', href='/css/style.css')