head
  title DnD Character Factory |
    if title
      |  #{title}
    else

  base(href=".")
    
  //- DataTables
  link(rel='stylesheet', href='/css/vendor/dataTables/dataTables.bootstrap.min.css')
  //- iCheck
  link(rel='stylesheet', href='/css/vendor/iCheck/minimal/orange.css')
  //- Select2
  link(rel='stylesheet', href='/css/vendor/select2/select2.min.css')
    
  //- Style (Includes Bootstrap, FontAwesome)
  link(rel='stylesheet', href='/css/compiled/style.css')