// @project-color:                 #e97521;
// @project-light-color:           #ffc8a0;
// @project-dark-color:            #402810;

@footer-height:     45px;
@navbar-border-bottom: 4px solid @gray-darker;

@gray-lightest:     lighten(@gray-base, 45.5%);
