doctype html
html
  head
    title DnD Character Factory |
      if title
        |  #{title}
      else
      
    //- Select2
    link(rel='stylesheet', href='/css/vendor/select2/select2.min.css')

    //- Style
    link(rel='stylesheet', href='/css/style.css')

  body
    #wrapper
      nav#nav

      #content.container
        block content

      footer#footer

    //- jQuery
    script(src="/js/vendor/jquery/jquery.min.js")
    //- Bootstrap
    script(src="/js/vendor/bootstrap/bootstrap.min.js")
    //- iCheck
    script(src="/js/vendor/icheck/icheck.min.js")
    //- Select2
    script(src="/js/vendor/select2/select2.full.min.js")

    block scripts