doctype html
html
  head
    title DnD Character Factory |
      if title
        |  #{title}
      else
      
    //- DataTables
    link(rel='stylesheet', href='/css/vendor/dataTables/dataTables.bootstrap.min.css')
    //- iCheck
    link(rel='stylesheet', href='/css/vendor/iCheck/minimal/orange.css')
    //- Select2
    link(rel='stylesheet', href='/css/vendor/select2/select2.min.css')
    //- Style (Includes Bootstrap)
    link(rel='stylesheet', href='/css/compiled/style.css')

  body
    #wrapper
      nav#nav

      #content.container
        block content

      footer#footer

    //- jQuery
    script(src="/js/vendor/jquery/jquery.min.js")

    //- DataTables
    script(src="/js/vendor/dataTables/jquery.dataTables.min.js")
    script(src="/js/vendor/dataTables/dataTables.bootstrap.min.js")
    //- Bootstrap
    script(src="/js/vendor/bootstrap/bootstrap.min.js")
    //- iCheck
    script(src="/js/vendor/icheck/icheck.min.js")
    //- Select2
    script(src="/js/vendor/select2/select2.full.min.js")

    block scripts