doctype html
html
  head
  title DnD Character Factory |
    if title
      |  #{title}
    else
    
  //- Style
  link(rel='stylesheet', href='/css/style.css')
  body
    #wrapper
      nav#nav

      #content.container
        block content

      footer#footer

    //- jQuery
    script(src="/js/vendor/jquery/jquery.min.js")
    //- Bootstrap
    script(src="/js/vendor/bootstrap/bootstrap.min.js")
    block scripts