.row
  .col-xs-24
    .row
      .col-xs-24
        character-info
    .row
      .col-xs-24
        background-choose
.row
  .col-xs-18
    .row
      .col-xs-12
        race-choose
      .col-xs-12
        class-choose
    .row
      .col-xs-24
        ability-scores-roll
  .col-xs-6
    skills-choose
