.panel.panel-primary
  .panel-heading Basic Info
  .panel-body
    .row
      .col-xs-12
        .row
          .col-xs-24
            label(for="character-name") Character Name
            input#character-name.form-control(type="text" value="")
        .row.m-t-10
          .col-xs-24
            label(for="player-name") Player Name
            input#player-name.form-control(type="text" value="")
        .row.m-t-10
          .col-xs-19
            label(for="experience-points") Experience Points
            input#experience-points.form-control(type="number" "[(ngModel)]"="experience_points" min="0" step="1")
          .col-xs-5
            label(for="character-level") Level
            dropdown("[id]"="'character-level'" "[options]"="levels" "display"="level" "[(value)]"="level")
      .col-xs-12
        .row
          .col-xs-24
            label Alignment
        .row
          .col-xs-6
          .col-xs-6(*ngFor="let order of alignments.order") {{order}}
        .row(*ngFor="let morality of alignments.morality")
          .col-xs-6 {{morality}}
          .col-xs-6(*ngFor="let order of alignments.order")
            checkbox(type="radio" name="alignment" "[checked]"="isChosenAlignment(order, morality)" "(change)"="$event.target.value ? setAlignment(order, morality) : ''")
        .row.m-t-25
          .col-xs-24 {{alignment.chosen}}
