extends shared/template

block content
  app Loading... (This should have more interesting filler content than this - don't you have, like, a spinner or something?)

block scripts
  script(src="/jspm_packages/system.js")
  script(src="/config.js")
  script(src="/js/compiled/index.js")
  script(src="/js/compiled/characters/create.js")
