.panel.panel-primary
  .panel-heading Race
  .panel-body
    .row
      div(class="col-xs-{{hasSubraces() ? '12' : '24'}}")
        dropdown("[options]"="races | obj_to_arr" "display"="name" "[(value)]"="race")
      .col-xs-12(*ngIf="hasSubraces()")
        dropdown("[options]"="subraces | obj_to_arr" "display"="name" "[(value)]"="subrace")