.panel.panel-primary
  .panel-heading Race
  .panel-body
    .row
      .col-xs-24
        select.form-control('[(ngModel)]'="class")
          option(*ngFor="let c of races" '[ngValue]'="c") {{c.name}}