.panel.panel-primary
  .panel-heading Class
  .panel-body
    .row
      .col-xs-24
        select.form-control('[(ngModel)]'="class")
          option(*ngFor="let c of (classes | obj_to_arr)" '[ngValue]'="c") {{c.name}}
