.panel.panel-primary
  .panel-heading Class
  .panel-body
    .row
      .col-xs-24
        select.form-control('[ngModel]'="class" '(ngModelChange)'="setClass($event)")
          option(*ngFor="let c of classes" '[ngValue]'="c") {{c.name}}
